### IntelliJ IDEA ###
# Java
*.class
build/

out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

# 사용자 개인의 작업 환경 정보이므로 Git 추적에서 제외합니다.
.idea/workspace.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store